.showBooks-mainDiv{
    display: grid;
    grid-template-columns: repeat(5,20%);
    row-gap: 30px;
    
}
img{
    width: 50%;
}
.showBooks-mainDiv> div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
.filterDiv{
    margin: 20px 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 30px;
    text-align: center;
}
.inner-filterDiv{
    display: flex;
    column-gap: 20px;
    flex-basis: 40%;
    flex-direction: row;
    
}
.pages{
    
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
}
.sortingDiv{
    background-color: #E4E4E4;
    flex-basis: 50%;
    z-index: 1;

    
    
    
}
.innerSortingDiv{
    background-color: #E4E4E4;
    height: 300px;
}
